modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Sanatan Vyaapar Server"

[[workflows.workflow]]
name = "Sanatan Vyaapar Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"
waitForPort = 5000

[[workflows.workflow]]
name = "TailwindCSS Watch"
author = 43154074
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tailwindcss -i ./styles/tailwind.css -o ./styles/output.css --watch"

[deployment]
run = ["sh", "-c", "python server.py"]

[[ports]]
localPort = 5000
externalPort = 80
